.questionContainer {
  margin-top: 80px;
}

.questionNumber {
  margin-bottom: 8px !important;
}

.feedback {
  border-radius: var(--radius-small);
  background-color: var(--color-surface);
  padding: var(--spacing-medium) var(--spacing-large) 48px;
}

.btnContainer {
  margin-top: 48px;
  margin-bottom: 48px;
}

.btnIcon {
  background-color: var(--color-bodytext-primary-action) !important;
}

.confirmAnswer {
  margin-left: 24px;
}

.resultsTitle {
  text-align: center;
  margin-bottom: 72px;
}

.resultsSecondaryTitle {
  text-align: center;
  margin-bottom: 16px;
  margin-top: 48px;
}

.resultsInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gCell{
  display: flex;
  flex-direction: column;
}

.scoreContainer {
  border-radius: var(--radius-small);
  background-color: var(--color-surface);
  padding: 48px;
}

.secondaryScoreContainer {
  border-radius: var(--radius-small);
  background-color: var(--color-surface);
  padding: 32px 16px 32px 48px;
  flex: 1;
}

.score {
  margin-bottom: 0;
  text-align: center;
}

.secondaryScore {
  margin-bottom: 0;
}

.btnResultsContainer {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.generalFeecback {
  font-size: 20px;
  margin-top: 32px;
  text-align: center;
}